@media screen and (max-width: 599px) {
 .content-bar {min-height:775px;background-size:cover;}
 #splashsec {}
 #splashsec h1 {margin-top:5rem;}
 h1 {font-size:32px;}
 p {margin:1rem 0;}
}

@media screen and (min-width: 600px) {
 .content-bar {min-height:725px;background-size:cover;}
 #splashsec {}
 #splashsec h1 {margin-top:30rem;}
 h1 {font-size:60px;}
 p {margin:1rem 0;}
}

@media screen and (min-width: 1001px) {
 .content-bar {background-size:cover;}
 p {margin:1rem 10%;}
}

@media screen and (min-width: 1280px) {
 .content-bar {min-height:700px;}
 #splashsec h1 {position:sticky;}
}

@media screen and (min-width: 1476px) {
 #splashsec h1 {margin:0;transform:translate(0, 650%);}
 p {margin:1rem 20%;}
}

@media screen and (min-width: 1920px) {
 #splashsec h1 {margin:0;transform:translate(0, 750%);}
 .content-bar {min-height:900px;}
}

@media screen and (min-width: 2560px) {
 #splashsec h1 {margin:0;transform:translate(0, 1000%);}
 .content-bar {min-height:1000px;}
}

@media screen and (min-width: 3840px) {
 .content-bar {min-height:2000px;}
}

.content-bar {
 padding: 2rem 5%;
}
h1 {
 color: #FFFFFF;
 font-family: Freckle Face, sans-serif;
}

.aboutgall {
 columns:20rem 4;
}
.content-bar div img {
 width: 100%;
 height: auto;
}
#aboutsec picture {
 margin-bottom: 1rem;
 display:block;
}