* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
 background-color: #000000;
}
.navbar {
 top: 0;
 display: fixed;
 width: 100%;
}
.nav_drip {
 background-image: url(images/ui/2redd.svg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: bottom center;
 width: 100%;
 height: 450px;
}
.navbar:after {
 content: "";
 clear: both;
}
h1 {
 color: #FFFFFF;
 font-family: Verdana, sans-serif;
}
.menbar {
 width: 50%;
 float: left;
 display: flex;
 justify-content: flex-start;
}
.socbar {
 width: 50%;
 float: right;
 display: flex;
 justify-content: flex-end;
}
li {
 display: inline-block;
 margin: 0 1rem;
 color: #000000;
}
a {
 text-decoration:none;
 color:#000000;
}