* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 700px) {
 .content-bar {height:700px;background-size:cover;}
 .nav_drip {transform: translate(0, -30%);}
 #splashsec {background-image:url(images/band/place3.jpg);}
 h1 {font-size:40px;}
 .menbar {width:85%;}
 .socbar {width: 10%;}
 .menbar li {font-size:18px;}
 .socbar li {display:block;}
}

@media screen and (min-width: 701px) {
 .content-bar {height:725px;background-size:cover;}
 .nav_drip {transform: translate(0, -29.5%);}
 #splashsec {background-image:url(images/band/place2.jpg);}
 h1 {font-size:60px;}
 .menbar {width:50%;}
 .socbar {width: 50%;}
 .menbar li {font-size:20px;}
 .socbar li {display:inline-block;}
}

@media screen and (min-width: 1001px) {
 .content-bar {background-size:cover;}
 li {font-size:24px;}
}

@media screen and (min-width: 1280px) {
 .content-bar {height:700px;}
}

@media screen and (min-width: 1920px) {
 .content-bar {height:1080px;}
}

@media screen and (min-width: 2560px) {
 .content-bar {height:1440px;}
}

@media screen and (min-width: 3840px) {
 .content-bar {height:2160px;}
}

html {
 background-color: #000000;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

.navbar {
 top: 0;
 position: fixed;
 width: 100%;
}
.nav_drip {
 width: 100%;
 position:absolute;
 z-index: -1;
}
.navbar:after {
 content: "";
 clear: both;
}
.content-bar {
 margin-top:1rem;
 width: 100%;
 display:flex;
 justify-content: center;
 align-items: center;
}
h1 {
 color: #FFFFFF;
 font-family: Verdana, sans-serif;
}
.menbar {
 float: left;
 display: flex;
 justify-content: flex-start;
}
.menbar li {
 display: inline-block;
}
.socbar {
 float: right;
 display: flex;
 justify-content: flex-end;
}
li {
 margin: 0 0.75rem;
}
li img {
 position: center center;
}
a:hover {
 color: #5f0000;
}
a {
 text-decoration:none;
 color:#000000;
}
.footer {
 display: flex;
 padding: 2rem 0;
 background-color: #000000;
 position: relative;
 align-items: center;
 justify-content: center;
 width: 100%;
}