* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 780px) {
 .nav_drip {height:350px;background-position:bottom right;}
 .content-bar {height:725px;background-size:cover;}
 #splashsec {background-image:url(images/band/place3.jpg);}
 h1 {font-size:40px;}
 li {font-size:18px;}
}

@media screen and (min-width: 781px) {
 .nav_drip {height:275px;background-position:bottom center;}
 .content-bar {height:725px;background-size:cover;}
 #splashsec {background-image:url(images/band/place2.jpg);}
 h1 {font-size:60px;}
 li {font-size:20px;}
}

@media screen and (min-width: 1001px) {
 .nav_drip {height:330px;background-position:bottom center;}
 .content-bar {background-size:cover;}
 li {font-size:24px;}
}

@media screen and (min-width: 1279px) {
 .nav_drip {height:375px;}
 .content-bar {height:950px;}
}

@media screen and (min-width: 1501px) {
 .nav_drip {height:475px;}
 .content-bar {height:950px;}
}

html {
 background-color: #000000;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

.navbar {
 top: 0;
 position: fixed;
 width: 100%;
}
.nav_drip {
 background-image: url(images/ui/3redd.svg);
 background-repeat: no-repeat;
 background-size: cover;
}
.navbar:after {
 content: "";
 clear: both;
}
.content-bar {
 margin-top:1rem;
 width: 100%;
 display:flex;
 justify-content: center;
 align-items: center;
}
h1 {
 color: #FFFFFF;
 font-family: Verdana, sans-serif;
}
.menbar {
 width: 50%;
 float: left;
 display: flex;
 justify-content: flex-start;
}
.socbar {
 width: 50%;
 float: right;
 display: flex;
 justify-content: flex-end;
}
li {
 display: inline-block;
 margin: 0 0.75rem;
}
a:hover {
 color: #5f0000;
}
a {
 text-decoration:none;
 color:#000000;
}
.footer {
 display: flex;
 padding: 2rem 0;
 background-color: #000000;
 position: relative;
 align-items: center;
 justify-content: center;
 width: 100%;
}